.tweet_row{
	display: block;
	clear: left;
	margin-bottom: 15px;
}
.tweet_image{
	float: left;
}
.tweet_content{
	font-size:14px;
	padding-left: 60px;
}
<<<<<<< HEAD
=======

div#countdown_p{
	text-align: center;
	display: block;
	width: 200px;
	height: 60px;
}
>>>>>>> e32033eb31a5f0a60f3e8e05f72e75dacd27ec83
